/* Reset y tipografía */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #0a3d62;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  flex-wrap: wrap;
}

/* Logo pequeño sin fondo */
header .logo img {
  width: 120px;
  height: auto;
  display: block;
  background: transparent;
}

/* NAV */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
nav ul li a:hover {
  color: #ff6600;
}

/* Hero Section */
.hero {
  text-align: center;
  color: black;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: none;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero .btn {
  background-color: #ff6600;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.hero .btn:hover {
  background-color: #e55b00;
}

/* Servicios */
#servicios {
  padding: 80px 20px;
  text-align: center;
  background-color: #f4f4f9;
}

#servicios h2 {
  font-size: 32px;
  color: #0a3d62;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background-color: white;
  padding: 30px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 15px;
  color: #ff6600;
}

/* Equipo */
.equipo {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.ingeniero {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.ingeniero img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Contacto */
#contacto {
  padding: 80px 20px;
  text-align: center;
}

/* Footer */
footer {
  background-color: #0a3d62;
  color: white;
  text-align: center;
  padding: 30px 20px;
}
